@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,700");

/* Variables */

:root {
    --black: 
  rgba(0, 0, 0, 1);
    --comet: 
  rgba(93, 89, 136, 1);
    --comet-2: 
  rgba(93, 90, 136, 1);
    --manatee: 
  rgba(141, 139, 166, 1);
    --amethyst-smoke: 
  rgba(151, 149, 180, 1);
    --mischka: 
  rgba(211, 210, 227, 1);
    --zircon: 
  rgba(249, 248, 255, 1);
    --white: 
  rgba(255, 255, 255, 1);
  
    --font-size-s: 16px;
    --font-size-m: 18px;
    --font-size-l: 24px;
    --font-size-xl: 28px;
    --font-size-xl: 30px;
    --font-size-xxxl: 36px;
    --font-size-l2: 32px;
    --font-size-xl2: 44px;
  
    --font-family-dm_sans: "DM Sans";
  }
  
  /* Classes */
  
  .dmsans-normal-amethyst-smoke-18px {
    color: var(--amethyst-smoke);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .dmsans-bold-comet-24px {
    color: var(--comet);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-l);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-bold-comet-28px {
    color: var(--comet);
    font-family: var(--font-family-dm_sans);
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-bold-comet-32px {
    color: var(--comet);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-l2);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-bold-comet-44px {
    color: var(--comet);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-xl2);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-bold-comet-18px {
    color: var(--comet);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-bold-white-16px {
    color: var(--white);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-s);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-bold-comet-36px {
    color: var(--comet);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-xxxl);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-bold-manatee-18px {
    color: var(--manatee);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-normal-comet-18px {
    color: var(--comet);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .dmsans-normal-comet-18px-2 {
    color: var(--comet-2);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .dmsans-normal-manatee-18px {
    color: var(--manatee);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .dmsans-normal-cadet-blue-18px {
    color: var(--cadet-blue);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .button-text-1 {
    color: var(--white);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    letter-spacing: 0;
    line-height: 18px;
    margin-top: -1.33px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
.desktop-3 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 1024px;
  padding: 81px 328px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.heading {
  letter-spacing: 0;
  line-height: 46px;
  margin-left: 11px;
  min-width: 333px;
  text-align: center;
  white-space: nowrap;
}

.overlap-group1 {
  height: 685px;
  position: relative;
  width: 754px;
}

.x12px-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  left: 70px;
  position: absolute;
  top: 446px;
  width: 611px;
}

.input-text-1 {
  height: 72px;
  min-width: 589px;
  position: relative;
}

.master-input-text-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 50px;
  display: flex;
  /* height: 72px; */
  min-width: 645px;
  padding: 26px 24px;
}

.desktop-3 .input-placeholder-3 {
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  white-space: nowrap;
}

.input-placeholder-2 {
  min-width: 49px;
}

.label {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.form-columns-1 {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  left: 70px;
  position: absolute;
  top: 318px;
  width: fit-content;
}

.form-column {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: fit-content;
}

.x12px {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: fit-content;
}

.input-text {
  height: 72px;
  min-width: 286px;
  position: relative;
}

.master-input-text {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 50px;
  display: flex;
  /* height: 72px; */
  min-width: 286px;
  padding: 26px 24px;
}

.input-placeholder {
  letter-spacing: 0;
  line-height: 18px;
  min-width: 174px;
  position: relative;
  white-space: nowrap;
}

.input-placeholder-1 {
  width: 212px;
}

.form-wrapper {
  height: 685px;
  left: 0;
  position: absolute;
  top: 0;
  width: 754px;
}

.form-columns {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  left: 70px;
  position: absolute;
  top: 177px;
  width: fit-content;
}

.overlap-group {
  align-items: flex-start;
  background-color: 
#f2f1f9;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 457px;
  left: 0;
  min-height: 685px;
  padding: 37px 70px;
  position: absolute;
  top: 0;
  width: 752px;
}

.heading-1 {
  letter-spacing: 0;
  line-height: 66px;
  margin-top: 22px;
  white-space: nowrap;
}

.master-primary-button {
  align-items: flex-start;
  align-self: center;
  background-color: var(--comet);
  border-radius: 40px;
  display: flex;
  gap: 8px;
  margin-right: 54px;
  padding: 24px 36px;
  position: relative;
  width: fit-content;
}

.button-text {
  color: var(--white);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1.33px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}