@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,700");
/* Variables */

:root {
    --black: 
  rgba(0, 0, 0, 1);
    --comet: 
  rgba(93, 89, 136, 1);
    --comet-2: 
  rgba(93, 90, 136, 1);
    --manatee: 
  rgba(141, 139, 166, 1);
    --amethyst-smoke: 
  rgba(151, 149, 180, 1);
    --mischka: 
  rgba(211, 210, 227, 1);
    --zircon: 
  rgba(249, 248, 255, 1);
    --white: 
  rgba(255, 255, 255, 1);
  
    --font-size-s: 16px;
    --font-size-m: 18px;
    --font-size-l: 24px;
    --font-size-xl: 28px;
    --font-size-xl: 30px;
    --font-size-xxxl: 36px;
    --font-size-l2: 32px;
    --font-size-xl2: 44px;
  
    --font-family-dm_sans: "DM Sans";
  }
  
  /* Classes */
  
  .dmsans-normal-amethyst-smoke-18px {
    color: var(--amethyst-smoke);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .dmsans-bold-comet-24px {
    color: var(--comet);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-l);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-bold-comet-28px {
    color: var(--comet);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-bold-comet-32px {
    color: var(--comet);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-l2);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-bold-comet-44px {
    color: var(--comet);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-xl2);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-bold-comet-18px {
    color: var(--comet);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-bold-white-16px {
    color: var(--white);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-s);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-bold-comet-36px {
    color: var(--comet);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-xxxl);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-bold-manatee-18px {
    color: var(--manatee);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-normal-comet-18px {
    color: var(--comet);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .dmsans-normal-comet-18px-2 {
    color: var(--comet-2);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .dmsans-normal-manatee-18px {
    color: var(--manatee);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
.share-page {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  /* height: 1523px; */
  padding: 0.1px 0;
  /* width: 1440px; */
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.flex-row-1 {
  align-items: center;
  display: flex;
  gap: 12px;
  margin-left: -1100px;
  margin-top: 52px;
  min-width: 99px;
}

.add {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 3px;
  min-width: 48px;
  text-align: center;
  white-space: nowrap;
}

.overlap-group4 {
  align-items: center;
  background-color: 
#5d5a88;
  border-radius: 19.5px/18.5px;
  display: flex;
  height: 37px;
  min-width: 39px;
  padding: 0 7px;
}

.material-symbolsadd {
  height: 25px;
  width: 25px;
}

.master-input-text {
  align-items: flex-start;
  background-color: var(--zircon);
  border-radius: 50px;
  display: flex;
  gap: 457px;
  height: 70px;
  margin-left: 7px;
  margin-top: 20px;
  min-width: 1215px;
}

.input-placeholder {
  align-self: center;
  color: var(--manatee);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 18px;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 2px;
  min-width: 185px;
  white-space: nowrap;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.material-symbolssearch-rounded {
  height: 37px;
  width: 37px;
}

.heading {
  color: var(--comet);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 46px;
  margin-left: -800px;
  margin-top: 15px;
  min-width: 404px;
  text-align: center;
  white-space: nowrap;
}

.headers-v5 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 118px;
  min-width: 1440px;
  padding: 30.9px 59px;
}

.navbar {
  align-items: center;
  display: flex;
  gap: 33px;
  justify-content: center;
  margin-left: 125px;
  margin-top: 0.15px;
  position: relative;
  width: fit-content;
}

.link-list {
  align-items: center;
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.share {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.share-page .navbar-link {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.navbar-link-share {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.buttons-set {
  align-items: center;
  align-self: flex-end;
  display: flex;
  gap: 24px;
  justify-content: flex-end;
  margin-left: 127px;
  padding: 0px 0px 0px 25px;
  position: relative;
  width: 212px;
}

.pajamasprofile {
  height: 55px;
  min-width: 55px;
  position: relative;
}

.master-primary-button {
  align-items: center;
  background-color: var(--comet);
  border-radius: 30px;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  padding: 18px 24px;
  position: relative;
  width: fit-content;
}

.button-text {
  color: var(--white);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-s);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.group-5-copy {
  align-items: center;
  display: flex;
  height: 48px;
  margin-bottom: 1.85px;
  min-width: 265px;
  padding: 0 0px;
}

.typography-type {
  color: var(--comet);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-l2);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 48px;
  margin-left: 22px;
  min-width: 207px;
  white-space: nowrap;
}

.oval-copy-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-left: 2px;
  margin-top: 9.82px;
  min-height: 22px;
  width: 10px;
}

.oval-copy-2 {
  height: 10px;
  width: 10px;
}

.oval {
  height: 10px;
  margin-left: 0;
  width: 10px;
}

.oval-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.3px;
  margin-left: 3px;
  min-height: 34px;
  width: 10px;
}

.oval-copy {
  height: 10px;
  margin-top: 2px;
  width: 10px;
}

.oval-copy-2-1 {
  height: 10px;
  margin-top: 3px;
  width: 10px;
}

.group-3-copy-2 {
  align-self: flex-end;
  height: 10px;
  margin-bottom: 7.97px;
  width: 10px;
}



.card {
  height: 231px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1219px;
}

.overlap-group {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--mischka);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  left: 0;
  min-height: 231px;
  padding: 23px 26.2px;
  position: absolute;
  top: 0;
  width: 1215px;
}

.paragraph {
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.flex-row {
  align-items: center;
  display: flex;
  gap: 36px;
  margin-left: 0.85px;
  min-width: 1156px;
}

.card-heading {
  letter-spacing: 0;
  line-height: 38px;
  white-space: nowrap;
  width: 1041px;
}

.image-placeholder {
  align-items: flex-end;
  background-color: var(--zircon);
  border-radius: 20px;
  display: flex;
  height: 72px;
  min-width: 79px;
  padding: 21.9px 22px;
}

.image-icon {
  height: 100%;
  width: 100%;
}

.master-link {
  align-items: center;
  display: flex;
  gap: 6px;
  left: 27px;
  position: absolute;
  top: 187px;
  width: fit-content;
}

.line-rounded-arrow-right {
  height: 20px;
  min-width: 20px;
  position: relative;
}

.x-credentials {
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  margin-top: 50px;
}

.master-link-1 {
  align-items: center;
  display: flex;
  gap: 6px;
  left: 255px;
  position: absolute;
  top: 187px;
  width: fit-content;
}

.overlap-group3 {
  height: 231px;
  margin-left: 13px;
  margin-top: 35px;
  position: relative;
  width: 1219px;
  margin-bottom: 30px;
}

.overlap-group2 {
  height: 231px;
  margin-left: 13px;
  margin-top: 57px;
  position: relative;
  width: 1219px;
  margin-bottom: 80px;
}

.overlap-group5 {
  margin-bottom: 100px;
}