@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,700");

/* Variables */

:root {
  --black: 
rgba(0, 0, 0, 1);
  --comet: 
rgba(93, 89, 136, 1);
  --comet-2: 
rgba(93, 90, 136, 1);
  --manatee: 
rgba(141, 139, 166, 1);
  --amethyst-smoke: 
rgba(151, 149, 180, 1);
  --cadet-blue: 
rgba(172, 171, 194, 1);
  --mischka: 
rgba(211, 210, 227, 1);
  --concrete: 
rgba(242, 241, 249, 1);
  --zircon: 
rgba(249, 248, 255, 1);
  --white: 
rgba(255, 255, 255, 1);

  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 24px;
  --font-size-xl: 28px;
  --font-size-xl: 30px;
  --font-size-xxxl: 36px;
  --font-size-l2: 32px;
  --font-size-xl2: 44px;

  --font-family-dm_sans: "DM Sans";
}

/* Classes */

.dmsans-normal-amethyst-smoke-18px {
  color: var(--amethyst-smoke);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.dmsans-bold-comet-24px {
  color: var(--comet);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-l);
  font-weight: 700;
  font-style: normal;
}
.dmsans-bold-comet-28px {
  color: var(--comet);
  font-family: var(--font-family-dm_sans);
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
}
.dmsans-bold-comet-32px {
  color: var(--comet);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-l2);
  font-weight: 700;
  font-style: normal;
}
.dmsans-bold-comet-44px {
  color: var(--comet);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xl2);
  font-weight: 700;
  font-style: normal;
}
.dmsans-bold-comet-18px {
  color: var(--comet);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
.dmsans-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
.dmsans-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-s);
  font-weight: 700;
  font-style: normal;
}
.dmsans-normal-cadet-blue-18px {
  color: var(--cadet-blue);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.dmsans-bold-comet-36px {
  color: var(--comet);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  font-style: normal;
}
.dmsans-bold-manatee-18px {
  color: var(--manatee);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
.dmsans-normal-comet-18px {
  color: var(--comet);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.dmsans-normal-comet-18px-2 {
  color: var(--comet-2);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.dmsans-normal-manatee-18px {
  color: var(--manatee);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}

.desktop-4 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 867px;
  padding: 102px 336px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.overlap-group1 {
  height: 579px;
  margin-left: 8px;
  position: relative;
  width: 760px;
}

.x12px {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  left: 77px;
  position: absolute;
  top: 332px;
  width: fit-content;
}

.label {
  color: var(--comet);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 60px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.input-text {
  height: 72px;
  min-width: 592px;
  position: relative;
}

.master-input-text {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 50px;
  display: flex;
  height: 72px;
  min-width: 592px;
  position: relative;
  top: 7px;
}

.input-placeholder {
  color: 
#acabc2;
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  min-width: 530px;
  margin-top: 27px;
  margin-left: 28px;
  position: relative;
  white-space: nowrap;
}

.overlap-group {
  align-items: center;
  background-color: 
#f2f1f9;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 579px;
  padding: 30.1px 0;
  position: absolute;
  top: 0;
  width: 752px;
}

.heading-1 {
  letter-spacing: 0;
  line-height: 66px;
  margin-bottom: -6px;
  margin-right: 2px;
  margin-top: 21px;
  min-height: 60px;
  white-space: nowrap;
  width: 596px;
}

.flex-row {
  align-items: center;
  display: flex;
  gap: 33px;
  margin-left: 136px;
  margin-top: 29px;
  min-width: 456px;
}

.heading {
  letter-spacing: 0;
  line-height: 66px;
  margin-top: 0;
  min-height: 60px;
  white-space: nowrap;
  width: 344px;
}

.image-placeholder {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  height: 65px;
  min-width: 79px;
  padding: 19.8px 22px;
}

.image-icon {
  height: 100%;
  width: 100%;
}

.paragraph {
  color: 
#9795b4;
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 2px;
  margin-top: 16px;
  min-height: 54px;
  width: 596px;
}

.subtitle {
  color: 
#8d8ba6;
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 1.8px;
  line-height: 20px;
  margin-bottom: -2px;
  margin-right: 2px;
  min-height: 18px;
  text-align: center;
  white-space: nowrap;
  width: 402px;
}

.desktop-4 .master-primary-button-2 {
  align-items: flex-start;
  display: flex;
}

.master-primary-button-container {
  gap: 54px;
  margin-right: 11px;
  margin-top: 183px;
  min-width: 467px;
}

.master-primary-button-1 {
  background-color: var(--comet);
  border-radius: 40px;
  gap: 8px;
  padding: 24px 36px;
  position: relative;
  width: fit-content;
}

.button-text {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1.33px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.master-primary-button {
  align-items: flex-start;
  background-color: 
#e76161;
  border-radius: 40px;
  display: flex;
  gap: 8px;
  padding: 24px 36px;
  position: relative;
  width: fit-content;
}