@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,700");

/* Variables */

:root {
    --black: 
  rgba(0, 0, 0, 1);
    --comet: 
  rgba(93, 89, 136, 1);
    --comet-2: 
  rgba(93, 90, 136, 1);
    --manatee: 
  rgba(141, 139, 166, 1);
    --amethyst-smoke: 
  rgba(151, 149, 180, 1);
    --cadet-blue: 
  rgba(172, 171, 194, 1);
    --mischka: 
  rgba(211, 210, 227, 1);
    --zircon: 
  rgba(249, 248, 255, 1);
    --white: 
  rgba(255, 255, 255, 1);
  
    --font-size-s: 16px;
    --font-size-m: 18px;
    --font-size-l: 24px;
    --font-size-xl: 28px;
    --font-size-xl: 30px;
    --font-size-xxxl: 36px;
    --font-size-l2: 32px;
    --font-size-xl2: 44px;
  
    --font-family-dm_sans: "DM Sans";
  }
  
  /* Classes */
  
  .dmsans-normal-amethyst-smoke-18px {
    color: var(--amethyst-smoke);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .dmsans-bold-comet-24px {
    color: var(--comet);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-l);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-bold-comet-28px {
    color: var(--comet);
    font-family: var(--font-family-dm_sans);
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-bold-comet-32px {
    color: var(--comet);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-l2);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-bold-comet-44px {
    color: var(--comet);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-xl2);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-bold-comet-18px {
    color: var(--comet);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-bold-white-18px {
    color: var(--white);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-bold-white-16px {
    color: var(--white);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-s);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-normal-cadet-blue-18px {
    color: var(--cadet-blue);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .dmsans-bold-comet-36px {
    color: var(--comet);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-xxxl);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-bold-manatee-18px {
    color: var(--manatee);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-normal-comet-18px {
    color: var(--comet);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .dmsans-normal-comet-18px-2 {
    color: var(--comet-2);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .dmsans-normal-manatee-18px {
    color: var(--manatee);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }

.view-edit-password {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  overflow: hidden;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.overlap-group5 {
  height: 867px;
  position: relative;
  width: 1446px;
}

.overlap-group4 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 867px;
  padding: 63px 0px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 0.26px;
  margin-top: 40px;
  min-height: 477px;
  width: 374px;
}

.overlap-group2 {
  align-items: center;
  background-color: var(--zircon);
  border-radius: 8px;
  display: flex;
  height: 52px;
  margin-top: 57px;
  min-width: 374px;
  padding: 0 24.3px;
}

.input-placeholder-2 {
  min-width: 79px;
}

.view-edit-password .input-placeholder-4 {
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.overlap-group {
  align-items: center;
  background-color: var(--zircon);
  border-radius: 8px;
  display: flex;
  height: 52px;
  margin-top: 58px;
  min-width: 374px;
  padding: 0 24.3px;
}

.input-placeholder-1 {
  min-width: 158px;
}

.master-primary-button {
  align-items: center;
  background-color: var(--comet);
  border-radius: 30px;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 42px;
  padding: 18px 24px;
  position: relative;
  width: 374px;
}

.button-text {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.overlap-group-1 {
  align-items: center;
  background-color: var(--zircon);
  border-radius: 8px;
  display: flex;
  height: 52px;
  min-width: 374px;
  padding: 0 24.3px;
}

.input-placeholder {
  letter-spacing: 0;
  line-height: 18px;
  min-width: 107px;
  white-space: nowrap;
}

.input-placeholder-3 {
  min-width: 94px;
}

.paragraph {
  align-self: flex-start;
  color: 
#9795b4;
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 16px;
  text-align: center;
  white-space: nowrap;
  width: 502px;
  margin-left: 480px;
}

.subtitle {
  color: var(--manatee);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 1.8px;
  line-height: 20px;
  margin-left: 0.17px;
  min-width: 219px;
  text-align: center;
  white-space: nowrap;
}

.heading {
  color: var(--comet);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xl2);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 50px;
  margin-left: 0.17px;
  margin-top: 8px;
  min-width: 312px;
  text-align: center;
  white-space: nowrap;
}

.view-edit-password .label-4 {
  left: 533px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  white-space: nowrap;
}

.label-2 {
  top: 438px;
}

.label {
  left: 533px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 219px;
  white-space: nowrap;
}

.label-1 {
  top: 328px;
}

.label-3 {
  top: 547px;
}

.master-primary-button-1 {
  align-items: center;
  background-color: var(--comet);
  border-radius: 30px;
  display: flex;
  gap: 8px;
  justify-content: center;
  left: 533px;
  padding: 18px 24px;
  position: absolute;
  top: 751px;
  width: 374px;
}