{% load static %}
<html>

<head>
    <title>Get your 2FA Set Up</title>
    <link rel="stylesheet" href="{% static 'css/my-passwords.css' %}">
    <script src="https://kit.fontawesome.com/60f93b821e.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="my-passwords">
        <h1 class="heading" style="margin-left: 0; margin-top: 60;">Add to your Authenticator App</h1>
        <img src="data:image/png;base64,{{ img_base64 }}" alt="QR Code" width="250px" height="250px">
        <p class="paragraph dmsans-normal-comet-18px" style="margin-top: 50px;">Scan this QR code using any Authenticator app on your smartphone or tablet to enable 2FA. <br> You will be <b>required</b> to verify with 2FA to view any passwords.</p>
        <pre class="paragraph dmsans-bold-comet-18px" style="margin-bottom: 30px;">Or manually add using this key: {{ secret_key }}</pre>
            <div class="master-primary-button">
                <a href="/" class="button-text" style="text-decoration: none;">Continue to Login
                </a>
            </div>       
    </div>
</body>

</html>