{% load static %}
<html>

<head>
    <title>Add Password</title>
    <link rel="stylesheet" href="{% static 'css/add-password.css' %}">
</head>

<body>
    <div class="desktop-3 screen">
        <h1 class="heading dmsans-bold-comet-36px">Add your Password</h1>
        <div class="overlap-group1">
            <form method="POST">
                {% csrf_token %}
                <div class="form-wrapper">
                    <div class="overlap-group">
                        <div class="heading-1 dmsans-bold-comet-36px">Enter your password details.</div>
                        <div class="master-primary-button">
                            <button type="submit" class="button-text-1"
                            style="cursor: pointer; background-color: transparent; border: none; outline: none;">Add Password
                        </button>
                        </div>
                    </div>
                    <div class="form-columns">
                        <div class="form-column">
                            <div class="x12px">
                                <div class="label dmsans-bold-comet-18px">Website Name</div>
                                <div class="input-text">
                                    <div class="master-input-text">
                                        <input name="website-name"
                                            class="input-placeholder input dmsans-normal-manatee-18px"
                                            style="background-color: transparent; border: none; outline: none;"
                                            placeholder="Website Name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="x12px">
                            <div class="label dmsans-bold-comet-18px">Website Link</div>
                            <div class="input-text">
                                <div class="master-input-text">
                                    <input name="website-link"
                                        class="input-placeholder input dmsans-normal-manatee-18px"
                                        style="background-color: transparent; border: none; outline: none;"
                                        placeholder="Website Link">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-columns-1">
                    <div class="form-column">
                        <div class="x12px">
                            <div class="label dmsans-bold-comet-18px">User ID/Email</div>
                            <div class="input-text">
                                <div class="master-input-text">
                                    <input name="website-username" class="input-placeholder input dmsans-normal-manatee-18px"
                                        style="background-color: transparent; border: none; outline: none;"
                                        placeholder="User ID/Email">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="x12px">
                        <div class="label dmsans-bold-comet-18px">Website Password</div>
                        <div class="input-text">
                            <div class="master-input-text">
                                <input name="website-password" type="password"
                                    class="input-placeholder input dmsans-normal-manatee-18px"
                                    style="background-color: transparent; border: none; outline: none;"
                                    placeholder="Website Password">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x12px-1">
                    <div class="label dmsans-bold-comet-18px">Enter Any Password Notes</div>
                    <div class="input-text-1">
                        <div class="master-input-text-1">
                            <input name="website-notes" class="input-placeholder input dmsans-normal-manatee-18px"
                                style="background-color: transparent; border: none; outline: none; min-width: 600px;"
                                placeholder="Website Notes">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>