{% load static %}
<html>

<head>
    <title>My Passwords</title>
    <link rel="stylesheet" href="{% static 'css/my-passwords.css' %}">
    <script src="https://kit.fontawesome.com/60f93b821e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="my-passwords screen">
        <div class="headers-v5">
            <div class="group-5-copy">
                <div class="typography-type">BreakingByte</div>
            </div>
            <div class="navbar">
                <div class="navbar-link dmsans-normal-comet-18px">Home</div>
                <div class="navbar-link-my-passwords dmsans-bold-comet-24px"><a href="/my-passwords" style="text-decoration: none;">My Passwords</a></div>
                <div class="navbar-link dmsans-normal-comet-18px"><a href="/generate" style="text-decoration: none;">Generate</a></div>
                <div class="link-list">
                    <div class="share dmsans-normal-comet-18px"><a href="/share" style="text-decoration: none;">Share</a></div>
                </div>
                <div class="navbar-link dmsans-normal-comet-18px"><a href="" style="text-decoration: none;">Rewards</a></div>
                <div class="buttons-set">
                    <div class="master-primary-button">
                        <a href="/sign-out" class="button-text" style="text-decoration: none;">Logout
                        </a>
                    </div>
                    <i class="fa fa-light fa-user fa-2xl" style="color: #5d5986;"></i>
                </div>
            </div>

        </div>
        <h1 class="heading">List of Your Credentials</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="master-input-text">
                <i class="fa fa-light fa-magnifying-glass fa-xl"
                    style="color: #5d5986; margin-top: 35px; margin-left: 30px;"></i>

                <input name="search" class="input-placeholder valign-text-middle"
                    style="background-color: transparent; border: none; outline: none; margin-left: 50px;"
                    placeholder="Search">
                
            </div>




        </form>

        <a href="/add-password" class="flex-row-1" style="text-decoration: none;">
            <div class="overlap-group4">
                <i class="fa fa-regular fa-plus fa-xl" style="color: #ffffff; margin-left: 8px;"></i>
            </div>
            <div class="add dmsans-bold-comet-24px">Add</div>
        </a>

        <form method="POST">
            
            <div class="master-input-text">
                <input name="otp" class="input-placeholder valign-text-middle"
                style="background-color: transparent; border: none; outline: none; margin-left: 50px;"
                placeholder="OTP">
                </div>
            {% csrf_token %}
            {% for password in passwords %}
            <div class="overlap-group2">
                
                <div class="card">
                    
                    <div class="overlap-group">
                        <div class="flex-row">
                            <div class="image-placeholder">
                                <img class="image-icon" src="{{ password.website_link }}" alt="Image icon" />
                            </div>
                            <div class="card-heading dmsans-bold-comet-28px">{{ password.website_name }}</div>
                        </div>
                        <p class="paragraph dmsans-normal-amethyst-smoke-18px">
                            {{ password.website_notes }}
                        </p>
                    </div>
                    <div class="master-link">
                        <button name="view-password" class="x-credentials dmsans-bold-manatee-18px"
                            value="{{ password.id }}" type="submit" class="x-credentials dmsans-bold-manatee-18px"
                            style="cursor: pointer; background-color: transparent; border: none; outline: none;">
                            <i class="fa fa-light fa-eye fa-lg" style="color: #8d8ba5; margin-right: 5px;"></i>
                            View Credentials
                        </button>
                    </div>
                    <div class="master-link-1">
                        <button name="share" class="x-credentials dmsans-bold-manatee-18px"
                            value="{{ password.id }}" type="submit" class="x-credentials dmsans-bold-manatee-18px"
                            style="cursor: pointer; background-color: transparent; border: none; outline: none; color: #598abb;">
                            <i class="fa fa-thin fa-share-nodes fa-lg" style="margin-right: 5px; color: #598abb;"></i>
                            Share Credentials
                        </button>
                    </div>
                    <div class="master-link" style="margin-left: 465px;">

                        <button name="delete" value="{{ password.id }}" type="submit"
                            class="x-credentials dmsans-bold-manatee-18px"
                            style="cursor: pointer; background-color: transparent; border: none; outline: none; color: #c96878;">
                            <i class="fa fa-solid fa-trash" style="color: #c96878; margin-right: 5px;"></i>
                            Delete Credentials
                        </button>

                    </div>

                    

                </div>

            </div>
            {% endfor %}
            <div class="overlap-group5"></div>
        </form>
    </div>
</body>

</html>