{% load static %}
<html>

<head>
    <title>Add Password</title>
    <script src="https://kit.fontawesome.com/60f93b821e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/rewards.css' %}">
</head>

<body>
    
    <div class="desktop-2 screen">
        <div class="headers-v5">
            <div class="overlap-group-2 overlap-group-3">
                <div class="group-5-copy">
                    <div class="typography-type">BreakingByte</div>
                </div>
                <div class="navbar">
                    <div class="navbar-link dmsans-normal-comet-18px"></div>
                    <div class="navbar-link dmsans-normal-comet-18px"><a href="/my-passwords" style="text-decoration: none;">My Passwords</a></div>
                    <div class="navbar-link dmsans-normal-comet-18px"><a href="/generate" style="text-decoration: none;">Generate</a></div>
                    <div class="link-list">
                        <div class="share dmsans-normal-comet-18px"><a href="/share" style="text-decoration: none;">Share</a></div>
                    </div>
                    <div class="navbar-link dmsans-bold-comet-24px"><a href="/rewards" style="text-decoration: none;">Rewards</a></div>
                </div>
                <div class="buttons-set">
                    <div class="master-primary-button-3 master-primary-button-4">
                        <a href="/sign-out" class="button-text-for-logout" style="text-decoration: none;">Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="heading dmsans-bold-comet-36px">Your Progress<br><br> Level {{ level }}, XP: {{ xp }} Pts</h1>
        <div class="progress">
            <div class="progress-done" data-done="{{ xp_percentage }}">
                {{ xp_percentage }}%
            </div>
        </div>
        <script>
            const progress = document.querySelector('.progress-done');
            progress.style.width = progress.getAttribute('data-done') + '%';
            progress.style.opacity = 1;
        </script>


        <div class="flex-row">
            <div class="heading-1 heading-3 dmsans-bold-comet-36px">Recommended Tasks</div>
            
        </div>
        <div class="group-3978">
            
            <div class="overlap-group1 overlap">
                <div class="image-placeholder">
                    <img class="image-icon" src="https://cdn-icons-png.flaticon.com/512/2535/2535531.png" alt="Image icon" />
                </div>
                <div class="card-heading dmsans-bold-comet-28px">Generate</div>
                <p class="paragraph dmsans-normal-amethyst-smoke-16px">Use our generate password feature and earn points.
                </p>
                <div class="master-primary-button">
                    <div class="button-text dmsans-normal-comet-16px">Continue</div>
                </div>
            </div>
            <div class="overlap-group-1 overlap-group-3">
                <div class="image-placeholder-1 image-placeholder-3">
                    <img class="image-icon-1" src="https://freeiconshop.com/wp-content/uploads/edd/share-flat.png" alt="Image icon" />
                </div>
                <div class="card-heading-1 card-heading-3 dmsans-bold-comet-28px">Share</div>
                <p class="paragraph-1 paragraph-3 dmsans-normal-amethyst-smoke-16px">
                    Earn points by sharing passwords with friends.
                </p>
                <div class="master-primary-button-1 master-primary-button-4">
                    <div class="button-text dmsans-normal-comet-16px">Continue</div>
                </div>
            </div>
            <div class="overlap-group1 overlap">
                <div class="image-placeholder-2 image-placeholder-3">
                    <img class="image-icon" src="https://cdn-icons-png.flaticon.com/512/189/189689.png" alt="Image icon" />
                </div>
                <div class="card-heading-2 card-heading-3 dmsans-bold-comet-28px">Add</div>
                <p class="paragraph-2 paragraph-3 dmsans-normal-amethyst-smoke-16px">
                    Add a new password to store and earn points.
                </p>
                <div class="master-primary-button-2 master-primary-button-4">
                    <div class="button-text-1 button-text-3 dmsans-normal-comet-16px">Continue</div>
                </div>
            </div>
        </div>
        
        <div class="heading-2 heading-3 dmsans-bold-comet-36px">Redeem Your Points</div>
        <div class="group-3978">
            <div class="overlap-group1 overlap">
                <div class="image-placeholder">
                    <img class="image-icon" src="https://res-5.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/g671or1ojkzesgquoxiq" alt="Image icon" />
                </div>
                <div class="card-heading dmsans-bold-comet-28px">Dream 11</div>
                <p class="paragraph dmsans-normal-amethyst-smoke-16px"> 
                    100 Rs. Cashback. Create your dream team now!
                </p>
                <div class="master-primary-button">
                    <div class="button-text dmsans-normal-comet-16px">Continue</div>
                </div>
            </div>
            <div class="overlap-group-1 overlap-group-3">
                <div class="image-placeholder-1 image-placeholder-3">
                    <img class="image-icon-1" src="https://logospng.org/download/uber/logo-uber-preta-4096.png" alt="Image icon" />
                </div>
                <div class="card-heading-1 card-heading-3 dmsans-bold-comet-28px">Uber</div>
                <p class="paragraph-1 paragraph-3 dmsans-normal-amethyst-smoke-16px">
                    Get 10% off on your next ride with Uber!
                </p>
                <div class="master-primary-button-1 master-primary-button-4">
                    <div class="button-text dmsans-normal-comet-16px">Continue</div>
                </div>
            </div>
            <div class="overlap-group1 overlap">
                <div class="image-placeholder-2 image-placeholder-3">
                    <img class="image-icon" src="https://marketplace.canva.com/MADBdo_S3gY/1/thumbnail_large/canva-lock-icon-MADBdo_S3gY.png" alt="Image icon" />
                </div>
                <div class="card-heading-2 card-heading-3 dmsans-bold-comet-28px">Locked</div>
                <p class="paragraph-2 paragraph-3 dmsans-normal-amethyst-smoke-16px">
                    Whoops! Increase your XP to unlock this reward.
                </p>
                <div class="master-primary-button-2 master-primary-button-4">
                    <div class="button-text-1 button-text-3 dmsans-normal-comet-16px">Locked</div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>