{% load static %}
<html>

<head>
    <title>Add Password</title>
    <script src="https://kit.fontawesome.com/60f93b821e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/rewards.css' %}">
</head>

<body>
    
    <div class="desktop-2 screen">
        <div class="headers-v5">
            <div class="overlap-group-2 overlap-group-3">
                <div class="group-5-copy">
                    <div class="typography-type">BreakingByte</div>
                </div>
                <div class="navbar">
                    <div class="navbar-link dmsans-normal-comet-18px">Home</div>
                    <div class="navbar-link-my-passwords dmsans-normal-comet-18px">My Passwords</div>
                    <div class="navbar-link dmsans-normal-comet-18px">Generate</div>
                    <div class="link-list">
                        <div class="share dmsans-normal-comet-18px">Share</div>
                    </div>
                    <div class="navbar-link-rewards navbar-link">Rewards</div>
                </div>
                <div class="buttons-set">
                    <div class="master-primary-button-3 master-primary-button-4">
                        <div class="button-text-2 button-text-3">Logout</div>
                    </div>
                    <img class="pajamasprofile" src="pajamas-profile.svg" alt="pajamas:profile" />
                </div>
            </div>
        </div>
        <h1 class="heading dmsans-bold-comet-36px">Your Progress</h1>
        <div class="progress">
            <div class="progress-done" data-done="70">
                70%
            </div>
        </div>
        <script>
            const progress = document.querySelector('.progress-done');
            progress.style.width = progress.getAttribute('data-done') + '%';
            progress.style.opacity = 1;
        </script>


        <div class="flex-row">
            <div class="heading-1 heading-3 dmsans-bold-comet-36px">Recommended Tasks</div>
            <img class="material-symbolsarrow-forward" src="material-symbols-arrow-forward.svg"
                alt="material-symbols:arrow-forward" />
            <div class="master-link">
                <div class="view-all-tasks">View All Tasks</div>
            </div>
            
        </div>
        <div class="group-3978">
            
            <div class="overlap-group1 overlap">
                <div class="image-placeholder">
                    <img class="image-icon" src="image-icon.svg" alt="Image icon" />
                </div>
                <div class="card-heading dmsans-bold-comet-28px">Task 1</div>
                <p class="paragraph dmsans-normal-amethyst-smoke-16px">Lorem ipsum dolor sit amet consecte tur odwo
                    dwoww
                </p>
                <div class="master-primary-button">
                    <div class="button-text dmsans-normal-comet-16px">Continue</div>
                </div>
            </div>
            <div class="overlap-group-1 overlap-group-3">
                <div class="image-placeholder-1 image-placeholder-3">
                    <img class="image-icon-1" src="image-icon-1.svg" alt="Image icon" />
                </div>
                <div class="card-heading-1 card-heading-3 dmsans-bold-comet-28px">Task 1</div>
                <p class="paragraph-1 paragraph-3 dmsans-normal-amethyst-smoke-16px">
                    Lorem ipsum dolor sit amet consecte tur odwo dwoww
                </p>
                <div class="master-primary-button-1 master-primary-button-4">
                    <div class="button-text dmsans-normal-comet-16px">Continue</div>
                </div>
            </div>
            <div class="overlap-group1 overlap">
                <div class="image-placeholder-2 image-placeholder-3">
                    <img class="image-icon" src="image-icon-2.svg" alt="Image icon" />
                </div>
                <div class="card-heading-2 card-heading-3 dmsans-bold-comet-28px">Task 1</div>
                <p class="paragraph-2 paragraph-3 dmsans-normal-amethyst-smoke-16px">
                    Lorem ipsum dolor sit amet consecte tur odwo dwoww
                </p>
                <div class="master-primary-button-2 master-primary-button-4">
                    <div class="button-text-1 button-text-3 dmsans-normal-comet-16px">Continue</div>
                </div>
            </div>
        </div>
        
        <div class="heading-2 heading-3 dmsans-bold-comet-36px">Redeem Your Points</div>
        <div class="group-3978">
            <div class="overlap-group1 overlap">
                <div class="image-placeholder">
                    <img class="image-icon" src="image-icon.svg" alt="Image icon" />
                </div>
                <div class="card-heading dmsans-bold-comet-28px">Task 1</div>
                <p class="paragraph dmsans-normal-amethyst-smoke-16px">Lorem ipsum dolor sit amet consecte tur odwo
                    dwoww
                </p>
                <div class="master-primary-button">
                    <div class="button-text dmsans-normal-comet-16px">Continue</div>
                </div>
            </div>
            <div class="overlap-group-1 overlap-group-3">
                <div class="image-placeholder-1 image-placeholder-3">
                    <img class="image-icon-1" src="image-icon-1.svg" alt="Image icon" />
                </div>
                <div class="card-heading-1 card-heading-3 dmsans-bold-comet-28px">Task 1</div>
                <p class="paragraph-1 paragraph-3 dmsans-normal-amethyst-smoke-16px">
                    Lorem ipsum dolor sit amet consecte tur odwo dwoww
                </p>
                <div class="master-primary-button-1 master-primary-button-4">
                    <div class="button-text dmsans-normal-comet-16px">Continue</div>
                </div>
            </div>
            <div class="overlap-group1 overlap">
                <div class="image-placeholder-2 image-placeholder-3">
                    <img class="image-icon" src="image-icon-2.svg" alt="Image icon" />
                </div>
                <div class="card-heading-2 card-heading-3 dmsans-bold-comet-28px">Task 1</div>
                <p class="paragraph-2 paragraph-3 dmsans-normal-amethyst-smoke-16px">
                    Lorem ipsum dolor sit amet consecte tur odwo dwoww
                </p>
                <div class="master-primary-button-2 master-primary-button-4">
                    <div class="button-text-1 button-text-3 dmsans-normal-comet-16px">Continue</div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>