{% load static %}
<html>

<head>
    <title>Share Password</title>
    <link rel="stylesheet" href="{% static 'css/share-password.css' %}">
</head>

<body>
    <div class="desktop-4 screen">
        <div class="overlap-group1">
            <form method="POST">
                {% csrf_token %}
                <div class="overlap-group">
                    <p class="subtitle">WE ARE SHARING YOUR PASSWORD FOR</p>
                    <div class="flex-row">
                        <div class="image-placeholder">
                            <img class="image-icon" src="{{ password_details_needed.website_link }}" alt="Image icon" />
                        </div>
                        <div class="heading dmsans-bold-comet-36px">{{ password_details_needed.website_name }}</div>
                    </div>
                    <h1 class="heading-1 dmsans-bold-comet-36px">Whom do you want to share with?</h1>
                    <p class="paragraph">
                        Sharing passwords can compromise your online safety. Only share passwords with trusted
                        individuals
                        to protect your online security.
                    </p>
                    <div class="master-primary-button-container master-primary-button-2">
                        <article class="master-primary-button">
                            <a href="/my-passwords" class="button-text dmsans-bold-white-18px" style="text-decoration: none;">Cancel Sharing
                            </a>
                        </article>
                        <article class="master-primary-button-1 master-primary-button-2">
                            <button name="password-id" value="{{ password_details_needed.password_id }}" type="submit" class="button-text dmsans-bold-white-18px"
                            style="cursor: pointer; background-color: transparent; border: none; outline: none;">Share Password
                        </button>
                        </article>
                    </div>
                </div>
                <div class="x12px">
                    <div class="label">Enter their BreakingByte Username</div>
                    <div class="input-text">
                        <div class="master-input-text">
                            <input name="sharing-to-username" class="input-placeholder input dmsans-normal-manatee-18px"
                                style="background-color: transparent; border: none; outline: none;"
                                placeholder="Enter BreakingByte Username">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>