{% load static %}
<html>

<head>
    <title>Share</title>
    <link rel="stylesheet" href="{% static 'css/share.css' %}">
    <script src="https://kit.fontawesome.com/60f93b821e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="share-page screen">
        <div class="headers-v5">
            <div class="group-5-copy">
                <div class="typography-type">BreakingByte</div>
            </div>
            <div class="navbar">
                <div class="navbar-link dmsans-normal-comet-18px"></div>
                <div class="navbar-link dmsans-normal-comet-18px"><a href="/my-passwords" style="text-decoration: none;">My Passwords</a></div>
                <div class="navbar-link dmsans-normal-comet-18px"><a href="/generate" style="text-decoration: none;">Generate</a></div>
                <div class="link-list">
                    <div class="navbar-link-share dmsans-bold-comet-24px"><a href="/share" style="text-decoration: none;">Share</a></div>
                </div>
                <div class="navbar-link dmsans-normal-comet-18px"><a href="/rewards" style="text-decoration: none;">Rewards</a></div>
                <div class="buttons-set">
                    <div class="master-primary-button">
                        <a href="/sign-out" class="button-text" style="text-decoration: none;">Logout</a>
                    </div>
                </div>
            </div>

        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="master-input-text" style="margin-bottom: 10px;">
                <i class="fa fa-light fa-magnifying-glass fa-xl"
                    style="color: #5d5986; margin-top: 35px; margin-left: 30px;"></i>

                <input name="search" class="input-placeholder valign-text-middle"
                    style="background-color: transparent; border: none; outline: none; margin-left: 50px;"
                    placeholder="Search">
            </div>
        </form>
        {% if passwords %}
        <h1 class="heading" style="margin-right: 50px; margin-bottom: -20px;">Shared With Others</h1>
        {% endif %}


        <form method="POST">
            {% csrf_token %}
            {% for password in passwords %}

            <div class="overlap-group2">
                <div class="card">
                    <div class="overlap-group">
                        <div class="flex-row">
                            <div class="image-placeholder">
                                <img class="image-icon" src="{{ password.website_link }}" alt="Image icon" />
                            </div>
                            {% if password.shared_with %}
                            <div class="card-heading dmsans-bold-comet-28px">{{ password.website_name }}
                                <p class="paragraph dmsans-normal-amethyst-smoke-18px" style="margin-top: 5px;">
                                    <i class="fa fa-light fa-user fa-lg" style="color: #8d8ba5; margin-right: 5px;"></i>                                    
                                    Shared with: 
                                    {% for user in password.shared_with.all %}
                                    {{ user.username }}{% if not forloop.last %},                      
                                    {% endif %}
                                    {% endfor %}                                    
                                </p>
                            {% endif %}
                            </div>

                        </div>
                        <p class="paragraph dmsans-normal-amethyst-smoke-18px">
                            {{ password.website_notes }}
                        </p>
                    </div>
                    <div class="master-link">
                        <button name="view-password-user" class="x-credentials dmsans-bold-manatee-18px"
                            value="{{ password.id }}" type="submit" class="x-credentials dmsans-bold-manatee-18px"
                            style="cursor: pointer; background-color: transparent; border: none; outline: none;">
                            <i class="fa fa-light fa-eye fa-lg" style="color: #8d8ba5; margin-right: 5px;"></i>
                            View Credentials
                        </button>
                    </div>
                    <div class="master-link" style="margin-left: 250px;">

                        <button name="stop-sharing" value="{{ password.id }}" type="submit"
                            class="x-credentials dmsans-bold-manatee-18px"
                            style="cursor: pointer; background-color: transparent; border: none; outline: none; color: #c96878;">
                            <i class="fa fa-solid fa-trash" style="color: #c96878; margin-right: 5px;"></i>
                            Stop Sharing
                        </button>

                    </div>

                </div>

            </div>
            {% endfor %}

            {% if shared_passwords %}
            <h1 class="heading" style="margin-right: 90px; margin-bottom: -20px;">Shared By Others</h1>
            {% endif %}

            {% for shared_with_me_passwords in shared_passwords %}
            <div class="overlap-group2">
                <div class="card">
                    <div class="overlap-group">
                        <div class="flex-row">
                            <div class="image-placeholder">
                                <img class="image-icon" src="{{ shared_with_me_passwords.website_link }}" alt="Image icon" />
                            </div>
                            <div class="card-heading dmsans-bold-comet-28px">{{ shared_with_me_passwords.website_name }}
                                <p class="paragraph dmsans-normal-amethyst-smoke-18px" style="margin-top: 5px;">
                                    <i class="fa fa-light fa-user fa-lg" style="color: #8d8ba5; margin-right: 5px;"></i>
                                    Shared by: {{ shared_with_me_passwords.user.username }}
                                </p>
                            </div>
                        </div>
                        <p class="paragraph dmsans-normal-amethyst-smoke-18px">
                            {{ shared_with_me_passwords.website_notes }}
                        </p>
                    </div>
                    <div class="master-link">
                        <button name="view-password-shared" class="x-credentials dmsans-bold-manatee-18px"
                            value="{{ shared_with_me_passwords.id }}" type="submit" class="x-credentials dmsans-bold-manatee-18px"
                            style="cursor: pointer; background-color: transparent; border: none; outline: none;">
                            <i class="fa fa-light fa-eye fa-lg" style="color: #8d8ba5; margin-right: 5px;"></i>
                            View Credentials
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if not passwords and not shared_passwords %}
            <p class="paragraph dmsans-normal-amethyst-smoke-18px" style="margin-top: 50px;">
                No passwords shared with you or shared by you.
            </p>
            {% endif %}
            <div class="overlap-group5"></div>
        </form>
    </div>
</body>

</html>