{% load static %}
<html>

<head>
  <title>Edit Password</title>
  <link rel="stylesheet" href="{% static 'css/view-edit-password.css' %}">
</head>

<body>
  <div class="view-edit-password screen">
    <div class="overlap-group5">
      <div class="overlap-group4">
        <div class="subtitle">VIEW AND EDIT PASSWORD FOR</div>
        <h1 class="heading">{{ password.website_name }}</h1>
         
        <div class="paragraph">
          <hr>
        </div>
        <form method="POST">
          {% csrf_token %}

          <div class="form">
            <div class="overlap-group-1">
              <input name="website-link" class="input-placeholder dmsans-normal-manatee-18px"
                style="background-color: transparent; border: none; outline: none;" value="{{password.website_link}}">
            </div>
            <div class="overlap-group">
              <input name="website-username" class="input-placeholder dmsans-normal-manatee-18px"
                style="background-color: transparent; border: none; outline: none;"
                value="{{password.website_username}}">
            </div>
            <div class="overlap-group2">
              <input name="website-password" class="input-placeholder dmsans-normal-manatee-18px"
                style="background-color: transparent; border: none; outline: none;"
                value="{{password.website_password}}">
            </div>
            <div class="overlap-group">
              <div class="input-placeholder-3 input-placeholder-4 dmsans-normal-manatee-18px">{{password.created_at}}
              </div>
            </div>
            <div class="master-primary-button">
              <button name="edit" value="{{password.id}}" type="submit" class="button-text dmsans-bold-white-16px"
              style="cursor: pointer; background-color: transparent; border: none; outline: none;">Edit Password Details
            </div>
        </form>
      </div>
    </div>

    <div class="label dmsans-bold-comet-18px">Website Link</div>
    <div class="label-1 label-4 dmsans-bold-comet-18px">Email/User ID</div>
    <div class="label-2 label-4 dmsans-bold-comet-18px">Password</div>
    <div class="label-3 label-4 dmsans-bold-comet-18px">Created at</div>
  </div>
  </div>
</body>

</html>