{% load static %}
<html>
    <head>
        <title>Edit Password</title>
        <link rel="stylesheet" href="{% static 'css/view-edit-password.css' %}">
    </head>
<body>
    <div class="view-edit-password screen">
        <div class="overlap-group5">
          <div class="overlap-group4">
            <div class="subtitle">VIEW PASSWORD FOR</div>
            <h1 class="heading">{{ password.website_name }}</h1>
            <div class="paragraph"><hr></div>
            <div class="form">
              <div class="overlap-group-1">
                <div class="input-placeholder dmsans-normal-manatee-18px">{{ password.website_link }}</div>
              </div>
              <div class="overlap-group">
                <div class="input-placeholder-1 input-placeholder-4 dmsans-normal-manatee-18px">{{password.website_username}}</div>
              </div>
              <div class="overlap-group2">
                <div class="input-placeholder-2 input-placeholder-4 dmsans-normal-manatee-18px">{{password.website_password}}</div>
              </div>
              <div class="overlap-group">
                <div class="input-placeholder-3 input-placeholder-4 dmsans-normal-manatee-18px">{{password.updated_at}}</div>
              </div>
              <div class="master-primary-button">
                <div class="button-text dmsans-bold-white-16px">Edit Password</div>
              </div>
              <div class="master-primary-button-1">
                <div class="button-text dmsans-bold-white-16px">Delete Password</div>
              </div>
            </div>
          </div>

          <div class="label dmsans-bold-comet-18px">Website Link</div>
          <div class="label-1 label-4 dmsans-bold-comet-18px">Email/User ID</div>
          <div class="label-2 label-4 dmsans-bold-comet-18px">Password</div>
          <div class="label-3 label-4 dmsans-bold-comet-18px">Updated at</div>
        </div>
      </div>
</body>
</html>